{% extends file_exists('layout/dash.twig') ? 'layout/dash.twig' : 'Media/Resources/views/layout/dash.twig' %}
{% block plugins_css %}
<link rel="stylesheet" type="text/css" href="{{ asset('assetbundle/vendor/plugins/dropzone/css/dropzone.css') }}">
{% endblock %}
{% block plugins_js %}
<script src="{{ asset('assetbundle/vendor/plugins/dropzone/dropzone.min.js') }}"></script>
{% endblock %}
{% block body_class %}gallery-page{% endblock %}
{% block content %}
<section id="content">
    <div class="row">
        <div class="col-md-3 message-tray animated fadeIn">

            <a href="#upload-picture" data-toggle="tab" id="quick-compose" class="tab btn btn-danger btn-block mb15">上传图片</a>

            <div class="panel">
                <div class="panel-body p10">
                    <div class="list-group list-group-links">
                        <div class="list-group-header pb5 br-n"> 媒体库 </div>
                        <a data-provider="{{ provider_remote is defined ? provider : '/' }}" href="#media-libs" data-toggle="tab" class="tab list-group-item">
                            <i class="fa fa-gear"></i>
                            媒体列表
                        </a>
                    </div>
                    <div class="list-group list-group-links">
                        <div class="list-group-header pb5 br-n"> 上传文件 </div>
                        <a data-provider="" href="#upload-picture" data-toggle="tab" class="tab list-group-item">
                            <i class="fa fa-gear"></i>
                            本地上传
                        </a>
                        <a data-provider="" href="#insert-url" data-toggle="tab" class="tab list-group-item">
                            <i class="fa fa-envelope"></i>
                            从URL插入
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 animated fadeIn">
            <div class="tab-content">
                <div id="media-libs" class="tab-pane active">

                </div>
                <div id="upload-picture" class="tab-pane">
                    <div action="{{ upload_url is defined ? upload_url : '/upload-file-url' }}" class="dropzone dropzone-sm dz-clickable" id="dropZone">
                        <div class="dz-default dz-message"><span><i class="fa fa-cloud-upload"></i>          <span class="main-text"><b>Drop Files</b> to upload</span> <br>          <span class="sub-text">(or click)</span>         </span></div>
                    </div>
                </div>
                <div id="insert-url" class="tab-pane">
                    <div class="admin-form">
                        <div class="section mb15">
                            <label for="store-url" class="field prepend-icon">
                                <input type="text" name="store-url" id="store-url" class="note-image-url gui-input" value="http://myonlinestore.com">
                                <label for="store-url" class="field-icon">
                                    <i class="fa fa-globe"></i>
                                </label>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        var url = $('[href="#media-libs"]').attr('data-provider');
        $.get(url, function (response) {
            $('#media-libs').html(response)
        }, 'html');
    });
</script>
{% endblock %}